<div class="catalog m-b-30 p-b-30">
	<div class="container">
		<h1 class="h2 decorated color-red font-normal">НОВЫЕ ПОСТУПЛЕНИЯ</h1>
		<div class="catalog__swiper">
			<div class="catalog__list">
				<div class="catalog__item" id="bx_3966226736_39767">
					<div class="catalog__item-picSlider js-catalog-pic-slider">
						<a href="catalog/obuv/39767.html" class="catalog__item-pic"> <img src="https://outlet-village.moscow/upload/resize_cache/iblock/557/400_400_1821712164bebe8964a3cb4f91f48bb72/l6cusxjj7fxdoqtpe902b66iqgzx3s58.jpeg" alt=""> </a>
						<a href="catalog/obuv/39767.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/6ee/400_400_1821712164bebe8964a3cb4f91f48bb72/pdhsj6fgp8voyfz5mhp3fz0mmr8h9qwe.jpeg" alt=""> </a>
						<a href="catalog/obuv/39767.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/679/400_400_1821712164bebe8964a3cb4f91f48bb72/hq7t34p3j7p4x9kez43kxsf1fdavtbti.jpeg" alt=""> </a>
						<a href="catalog/obuv/39767.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/397/400_400_1821712164bebe8964a3cb4f91f48bb72/iukvt69s3c6f06lialcaypc8dtxgl499.jpeg" alt=""> </a>
						<a href="catalog/obuv/39767.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/381/400_400_1821712164bebe8964a3cb4f91f48bb72/gyk3ooutexz9gma07ev2752e0zo8kach.jpeg" alt=""> </a>
					</div> <a href="catalog/obuv/39767.html" class="catalog__item-name"> Hermes </a>
					<div class="catalog__item-desc">Туфли Infinie 50 pump</div>
					<a class="catalog__item-prices"> <span class="catalog__item-price"> 47 040 <span>₽</span> </span> <span class="catalog__item-old-price"> 117 600 <span>₽</span> </span> <span class="catalog__item-sale"> (60 <span>%</span>) </span>
					</a> <a class="btn btn--primary catalog__item-btn" href="catalog/obuv/39767.html">Купить</a> </div>
				<div class="catalog__item" id="bx_3966226736_37735">
					<div class="catalog__item-picSlider js-catalog-pic-slider">
						<a href="catalog/obuv/37735.html" class="catalog__item-pic"> <img src="https://outlet-village.moscow/upload/resize_cache/iblock/c6f/400_400_1821712164bebe8964a3cb4f91f48bb72/qdbounn0i4t7dykmfid1a5dwhxmig3ka.png" alt=""> </a>
						<a href="catalog/obuv/37735.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/05f/400_400_1821712164bebe8964a3cb4f91f48bb72/l779hmkt0cbilyvrned0fbt8qpyswuqb.png" alt=""> </a>
					</div> <a href="catalog/obuv/37735.html" class="catalog__item-name"> Louis Vuitton </a>
					<div class="catalog__item-desc">Туфли Shake</div>
					<a class="catalog__item-prices"> <span class="catalog__item-price"> 45 000 <span>₽</span> </span> <span class="catalog__item-old-price"> 100 000 <span>₽</span> </span> <span class="catalog__item-sale"> (55 <span>%</span>) </span>
					</a> <a class="btn btn--primary catalog__item-btn" href="catalog/obuv/37735.html">Купить</a> </div>
				<div class="catalog__item" id="bx_3966226736_37801">
					<div class="catalog__item-picSlider js-catalog-pic-slider">
						<a href="catalog/sumki/37801.html" class="catalog__item-pic"> <img src="https://outlet-village.moscow/upload/resize_cache/iblock/62e/400_400_1821712164bebe8964a3cb4f91f48bb72/k60ww2ng24he21j0wmkrk48mvj9vj83b.jpeg" alt=""> </a>
					</div> <a href="catalog/sumki/37801.html" class="catalog__item-name"> Balmain </a>
					<div class="catalog__item-desc">Сумка Buzz 23</div>
					<a class="catalog__item-prices"> <span class="catalog__item-price"> 108 800 <span>₽</span> </span> <span class="catalog__item-old-price"> 272 000 <span>₽</span> </span> <span class="catalog__item-sale"> (60 <span>%</span>) </span>
					</a> <a class="btn btn--primary catalog__item-btn" href="catalog/sumki/37801.html">Купить</a> </div>
				<div class="catalog__item" id="bx_3966226736_40109">
					<div class="catalog__item-picSlider js-catalog-pic-slider">
						<a href="catalog/sumki/40109.html" class="catalog__item-pic"> <img src="https://outlet-village.moscow/upload/resize_cache/iblock/c98/400_400_1821712164bebe8964a3cb4f91f48bb72/p3e72295akf733xfb7sv70mr0i7dx930.jpeg" alt=""> </a>
						<a href="catalog/sumki/40109.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/cac/400_400_1821712164bebe8964a3cb4f91f48bb72/ojtlyub5s5npumqjifs0mkd9gj43yhdx.jpeg" alt=""> </a>
						<a href="catalog/sumki/40109.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/026/400_400_1821712164bebe8964a3cb4f91f48bb72/anlzli9jqrqisieluyji2g0lvoedamvx.jpeg" alt=""> </a>
						<a href="catalog/sumki/40109.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/bfe/400_400_1821712164bebe8964a3cb4f91f48bb72/dah5pfpt4z53c723v5f39g4mahau3wka.jpeg" alt=""> </a>
						<a href="catalog/sumki/40109.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/da8/400_400_1821712164bebe8964a3cb4f91f48bb72/ahims2sqsktus4nyo17l157cpwsxnsjl.jpeg" alt=""> </a>
						<a href="catalog/sumki/40109.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/08c/400_400_1821712164bebe8964a3cb4f91f48bb72/ff22d86icdivmhjvyku629wljq064yf0.jpeg" alt=""> </a>
						<a href="catalog/sumki/40109.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/e45/400_400_1821712164bebe8964a3cb4f91f48bb72/ic0ixkl6xtcdp9rvb9w100d2sdy1l3zi.jpeg" alt=""> </a>
						<a href="catalog/sumki/40109.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/9b7/400_400_1821712164bebe8964a3cb4f91f48bb72/jjjormpxzrmzpfr2wir7ibgy2c4ojmel.jpeg" alt=""> </a>
					</div> <a href="catalog/sumki/40109.html" class="catalog__item-name"> Jacquemus </a>
					<div class="catalog__item-desc">Джинсовая маленькая сумка на плечо Le Petit Bambimou</div>
					<a class="catalog__item-prices"> <span class="catalog__item-price"> 34 250 <span>₽</span> </span> <span class="catalog__item-old-price"> 85 625 <span>₽</span> </span> <span class="catalog__item-sale"> (60 <span>%</span>) </span>
					</a> <a class="btn btn--primary catalog__item-btn" href="catalog/sumki/40109.html">Купить</a> </div>
				<div class="catalog__item" id="bx_3966226736_39698">
					<div class="catalog__item-picSlider js-catalog-pic-slider">
						<a href="catalog/sumki/39698.html" class="catalog__item-pic"> <img src="https://outlet-village.moscow/upload/resize_cache/iblock/993/400_400_1821712164bebe8964a3cb4f91f48bb72/t1h0xuzroqttrmdobb3uxnfstw5ad0sf.jpeg" alt=""> </a>
						<a href="catalog/sumki/39698.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/d83/400_400_1821712164bebe8964a3cb4f91f48bb72/5q5pax9gi48ba8i29do3dt03xfm2y2r5.jpeg" alt=""> </a>
						<a href="catalog/sumki/39698.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/729/400_400_1821712164bebe8964a3cb4f91f48bb72/uykwdo09w11qykrqx5hzqzanv4g3e98p.jpeg" alt=""> </a>
					</div> <a href="catalog/sumki/39698.html" class="catalog__item-name"> COACH </a>
					<div class="catalog__item-desc">Сумка Eliza из канвы Signature</div>
					<a class="catalog__item-prices"> <span class="catalog__item-price"> 34 200 <span>₽</span> </span> <span class="catalog__item-old-price"> 85 500 <span>₽</span> </span> <span class="catalog__item-sale"> (60 <span>%</span>) </span>
					</a> <a class="btn btn--primary catalog__item-btn" href="catalog/sumki/39698.html">Купить</a> </div>
				<div class="catalog__item" id="bx_3966226736_7004">
					<div class="catalog__item-picSlider js-catalog-pic-slider">
						<a href="catalog/obuv/tufli/7004.html" class="catalog__item-pic"> <img src="https://outlet-village.moscow/upload/resize_cache/iblock/138/400_400_1821712164bebe8964a3cb4f91f48bb72/13877252b59b6effe064a00f604a79b2.jpeg" alt=""> </a>
						<a href="catalog/obuv/tufli/7004.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/4eb/400_400_1821712164bebe8964a3cb4f91f48bb72/4ebe29b41d81fcdc504a1372feffeff9.jpeg" alt=""> </a>
						<a href="catalog/obuv/tufli/7004.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/0e1/400_400_1821712164bebe8964a3cb4f91f48bb72/0e1bac7ca2e6b9b78f1dbd48e174310e.jpeg" alt=""> </a>
						<a href="catalog/obuv/tufli/7004.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/3c9/400_400_1821712164bebe8964a3cb4f91f48bb72/3c9fbfc589e17922644357c3ab3a3117.jpeg" alt=""> </a>
						<a href="catalog/obuv/tufli/7004.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/0f0/400_400_1821712164bebe8964a3cb4f91f48bb72/0f0ece8a084bcd79889081566fc8030f.jpeg" alt=""> </a>
						<a href="catalog/obuv/tufli/7004.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/129/400_400_1821712164bebe8964a3cb4f91f48bb72/129dbbdc1bf4745713099aff8b1a660e.jpeg" alt=""> </a>
					</div> <a href="catalog/obuv/tufli/7004.html" class="catalog__item-name"> Manolo Blahnik </a>
					<div class="catalog__item-desc">Туфли королевского синего цвета Hangisi 105</div>
					<a class="catalog__item-prices"> <span class="catalog__item-price"> 32 390 <span>₽</span> </span> <span class="catalog__item-old-price"> 80 180 <span>₽</span> </span> <span class="catalog__item-sale"> (60 <span>%</span>) </span>
					</a> <a class="btn btn--primary catalog__item-btn" href="catalog/obuv/tufli/7004.html">Купить</a> </div>
				<div class="catalog__item" id="bx_3966226736_40712">
					<div class="catalog__item-picSlider js-catalog-pic-slider">
						<a href="catalog/zhenskaya-odezhda/40712.html" class="catalog__item-pic"> <img src="https://outlet-village.moscow/upload/resize_cache/iblock/e05/400_400_1821712164bebe8964a3cb4f91f48bb72/mfpz3uzcomh3uu2ri2ruyebd4sccpmzo.jpeg" alt=""> </a>
						<a href="catalog/zhenskaya-odezhda/40712.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/f38/400_400_1821712164bebe8964a3cb4f91f48bb72/v84n1bark8seeedl7wa7nfhte5mtt4k0.jpeg" alt=""> </a>
						<a href="catalog/zhenskaya-odezhda/40712.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/c8b/400_400_1821712164bebe8964a3cb4f91f48bb72/r8itdf8yt15d7lbeyi29ss4bldyqz7bw.jpeg" alt=""> </a>
						<a href="catalog/zhenskaya-odezhda/40712.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/3bf/400_400_1821712164bebe8964a3cb4f91f48bb72/46bl72z47oqkaj0fueikgur8has33vzd.jpeg" alt=""> </a>
						<a href="catalog/zhenskaya-odezhda/40712.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/c5f/400_400_1821712164bebe8964a3cb4f91f48bb72/pi5bagcwdr0mu1l5t8qawdzkqo7bqho8.jpeg" alt=""> </a>
					</div> <a href="catalog/zhenskaya-odezhda/40712.html" class="catalog__item-name"> VETEMENTS </a>
					<div class="catalog__item-desc">Хлопковая рубашка</div>
					<a class="catalog__item-prices"> <span class="catalog__item-price"> 37 975 <span>₽</span> </span> <span class="catalog__item-old-price"> 108 500 <span>₽</span> </span> <span class="catalog__item-sale"> (65 <span>%</span>) </span>
					</a> <a class="btn btn--primary catalog__item-btn" href="catalog/zhenskaya-odezhda/40712.html">Купить</a> </div>
				<div class="catalog__item" id="bx_3966226736_38921">
					<div class="catalog__item-picSlider js-catalog-pic-slider">
						<a href="catalog/sumki/38921.html" class="catalog__item-pic"> <img src="https://outlet-village.moscow/upload/resize_cache/iblock/737/400_400_1821712164bebe8964a3cb4f91f48bb72/kvt82s68auwen2crzpu1gmwci5d1ex70.jpeg" alt=""> </a>
						<a href="catalog/sumki/38921.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/f69/400_400_1821712164bebe8964a3cb4f91f48bb72/a1ahrc9byupaa1a75vu2x3oku1uy6sq9.jpeg" alt=""> </a>
					</div> <a href="catalog/sumki/38921.html" class="catalog__item-name"> Michael Kors </a>
					<div class="catalog__item-desc">Сумка-тоут Emilia</div>
					<a class="catalog__item-prices"> <span class="catalog__item-price"> 22 330 <span>₽</span> </span> <span class="catalog__item-old-price"> 37 220 <span>₽</span> </span> <span class="catalog__item-sale"> (40 <span>%</span>) </span>
					</a> <a class="btn btn--primary catalog__item-btn" href="catalog/sumki/38921.html">Купить</a> </div>
				<div class="catalog__item" id="bx_3966226736_34221">
					<div class="catalog__item-picSlider js-catalog-pic-slider">
						<a href="catalog/sumki/34221.html" class="catalog__item-pic"> <img src="https://outlet-village.moscow/upload/resize_cache/iblock/8b0/400_400_1821712164bebe8964a3cb4f91f48bb72/5xwv5ndy4903a9bfh99pilej1irlh9n8.jpeg" alt=""> </a>
						<a href="catalog/sumki/34221.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/0a9/400_400_1821712164bebe8964a3cb4f91f48bb72/79mk1qxge01v39otsb1sxo37x4jul00m.png" alt=""> </a>
						<a href="catalog/sumki/34221.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/676/400_400_1821712164bebe8964a3cb4f91f48bb72/22o94k79rcmkgpz3wnxwm4l6qyv7c635.png" alt=""> </a>
						<a href="catalog/sumki/34221.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/35f/400_400_1821712164bebe8964a3cb4f91f48bb72/f11jii7odem9064oyl0ojg2wzdvhvtep.png" alt=""> </a>
						<a href="catalog/sumki/34221.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/090/400_400_1821712164bebe8964a3cb4f91f48bb72/0i78evgzm7bospetlwbu3w1qw0fva3vp.png" alt=""> </a>
					</div> <a href="catalog/sumki/34221.html" class="catalog__item-name"> Louis Vuitton </a>
					<div class="catalog__item-desc">КОШЕЛЁК ZIPPY</div>
					<a class="catalog__item-prices"> <span class="catalog__item-price"> 40 500 <span>₽</span> </span> <span class="catalog__item-old-price"> 81 500 <span>₽</span> </span> <span class="catalog__item-sale"> (50 <span>%</span>) </span>
					</a> <a class="btn btn--primary catalog__item-btn" href="catalog/sumki/34221.html">Купить</a> </div>
				<div class="catalog__item" id="bx_3966226736_28383">
					<div class="catalog__item-picSlider js-catalog-pic-slider">
						<a href="catalog/aksessuary/28383.html" class="catalog__item-pic"> <img src="https://outlet-village.moscow/upload/resize_cache/iblock/37f/400_400_1821712164bebe8964a3cb4f91f48bb72/x7yb017i18zw807lbobn0419ua9aacsq.jpeg" alt=""> </a>
						<a href="catalog/aksessuary/28383.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/ee9/400_400_1821712164bebe8964a3cb4f91f48bb72/phq101qfkbtoti5ga1ftmgrefkew6er7.jpeg" alt=""> </a>
						<a href="catalog/aksessuary/28383.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/44e/400_400_1821712164bebe8964a3cb4f91f48bb72/h8s3nwm7j075h72lra1ns1j5hkxj3r9p.png" alt=""> </a>
						<a href="catalog/aksessuary/28383.html" class="catalog__item-pic"> <img data-lazy="/upload/resize_cache/iblock/de7/400_400_1821712164bebe8964a3cb4f91f48bb72/e6jhg8arl55qqwi1nxbn87gwue9n9phh.png" alt=""> </a>
					</div> <a href="catalog/aksessuary/28383.html" class="catalog__item-name"> Louis Vuitton </a>
					<div class="catalog__item-desc">ШАРФ GAME ON</div>
					<a class="catalog__item-prices"> <span class="catalog__item-price"> 37 575 <span>₽</span> </span> <span class="catalog__item-old-price"> 83 500 <span>₽</span> </span> <span class="catalog__item-sale"> (55 <span>%</span>) </span>
					</a> <a class="btn btn--primary catalog__item-btn" href="catalog/aksessuary/28383.html">Купить</a> </div>
			</div>
		</div>
		<div class="text-center m-t-30"> <a href="catalog/index.html%3FcatalogFilter_40_3233089245=Y&amp;set_filter=Показать.html" class="btn btn--primary">Смотреть еще</a> </div>
	</div>
</div>